body{

}
.input{
	margin-left: 45%;
	margin-bottom: 10px;
	border-radius: 5px;
}
label{
	margin-left: 45%;
}
.input:hover{
	border: 2px solid pink;
}
#Main{
	font-size: 25px;
	margin-left: 710px;
}
.questions{
	margin-left: 50%;
	margin-bottom: 10px;
	border-radius: 5px;
}
.questions0{
	margin-left: 50%;
}
.answers{
	margin-left: 45%;
}
.answers0{
	margin-left: 45%;
}
