body{

}
.input{
	margin-left: 45%;
	margin-bottom: 10px;
	border-radius: 5px;
}
label{
	margin-left: 45%;
}
.input:hover{
	border: 2px solid pink;
}
#Main{
	font-size: 25px;
	margin-left: 40%;
}
.questions{
	margin-left: 45%;
	margin-bottom: 10px;
	border-radius: 5px;
}
.questions0{
	margin-left: 45%;
}
.answers{
	margin-left: 50%;
}
.answers0{
	margin-left: 50%;
}
.radio{
	margin-left: 65%;
}
#sub{
	margin-left: 50%;
}
#MainQ{
	margin-left: 45%;
	font-size: 52px;
	font-weight: 100;
}
.questions-result{
	margin-top: 5%;
	font-size: 40px;
	margin-left: 45%;
}
.checkbox{

}
